body{
    background-color: rgb(211, 211, 198);
}

div#main{
    width: 100%;
    height: 100%;
}

div#st_row{
    display: inline-block;
    width: inherit;
    height: 0;
}

h1{
    color: black
}

img#nba_logo{
    width: 7%;
    position: relative;
    float: right;
    top: -80px
}

#filterDiv{
    width: inherit;
    display: inline;
}

.DropDownDiv{
    width: 48%;
    display: inline-block;
    margin: 0 1%
}

#player_info{
    display: inline-block;
    width: inherit;
    height: max-content;
}

img#player_img{
    width: 15%
}

img#flag_country{
    width: 10%;
}

#player_text{
    position: relative;
    width: 70%;
    display: grid;
    float: right;
    grid-template-areas:
    'first  second third'
    'fourth  fifth sixth'
    'seventh eigth nineth';
}

#Player_Jersey{
    font-size: 20pt;
    font-weight: bold;
}


.player_text_lab{
    font-weight: bold;
    font-size: 14pt;
}

#showDiv{
    width: inherit;
    height: max-content;
}

#DivShootGraph{
    display: inline-block;
    width: inherit;
    height: max-content;
}

.graph_shoot{
    width: 49%;
    display: inline-block;
}

.graph_radar{
    width: 49%;
    display: inline-block;
}
/*#player_sucess_shooting_graph{
    grid-area: first;
}

#player_fail_shooting_graph{
    grid-area: second;
}

.graph{
    width: 49%;
    display: inline-block;
}

